html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    max-width: 800px;
    padding: 15px 5px;
    background-color: rgb(230, 230, 230);
    word-break: break-word;
}